.texto {
    width: 500px;
    font-size: 20px;
    gap: 80px;
    color: #428CE2;
   
}

.lista{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
   list-style: none;
  padding: 0;

}
h1 {
    padding-bottom: 20px;
}
.infos{
    width: 100%;
    display: flex;
}

.graficos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-right: 20px;
}
#graficoLine {
    padding-top: 50px;
    width: 100%;
    align-items: flex-end;
}