.texto {
    width: 500px;
    justify-items: center;
    align-content: center;
    font-size: 17px;
}
main{
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 50px;
}
.conteudo {
    border: solid 1px #007bff;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    gap : 40px; 
    border-radius: 1%;
    
    
}

