/*----- Alinhamento e configurações de grid  -----*/
.container {
  padding: 20px;
  padding-top: 80px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* colunas ajustam ao tamanho do card */
  justify-content: center; /* centraliza os cards na linha */
  gap: 24px;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* Em telas pequenas, vira uma coluna */
  }
}

/*-------- Configurações de texto --------- */
h1 {
  text-align: center;
  margin-bottom: 20px;
}




/*----- Cards ----- */

.card {
  background-color: #f8f9fa;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  width: 300px;  /* largura fixa maior */
}

.card:hover {
  transform: translateY(-6px);
}


.card h2 {
  margin-bottom: 12px;
  color: #007bff;
  font-size: 1.4rem; 
}

.card p {
  margin: 6px 0;
  font-size: 1rem; 
}

/*------- Configurações do botão de delete e de cadastro --------*/
.botao {
  background-color: #e53935;     
  border: none;
  padding: 8px 16px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao:hover {
  background-color: #c62828;     
}
.botao_cadastro{
    background-color:#428CE2;     
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;

}
.botao_cadastro:hover {
  background-color: #005ab9;
}