.container {
  border: 2px solid #3b8ee4;
  border-radius: 10px;
  overflow: hidden;
  height: 1000px;
  width: 200px;
}

.containerUsuario {
  text-align: center;
}

.fotoUsuario {
  width: 200px;
  height: 200px;
  border: 2px solid var(--dark-strong-blue);
  border-radius: 10px;
  margin-bottom: 20px;
}

.containerBotoes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao {
  color: black;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.botao:hover {
  cursor: pointer;
  background-color: #e6f0fa;
}

.links_container {
  display: flex;
  flex-direction: row;
  gap: 10px; /* controla o espaço entre ícones e links */
}

.container_icons {
  display: flex;
  flex-direction: column;
  gap: 68px;
  align-items: flex-start;
}

.icone {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.container_links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.containerImagem {
  padding-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
