.container{
    border: solid , 2px;
    border-color: #3b8ee4;
    border-radius: 10px;
    overflow: hidden;
    height: 800px;

}

.containerUsuario{
        text-align: center;
    }
.fotoUsuario{
        width : 200px;
        height: 200px;
        border : 2px solid var(--dark-strong-blue);
        border-radius: 10px;
        margin-bottom: 20px;

    }

.containerBotoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}
.botao {
        color: black;
        width: 160px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        font-size: 20px;
    }
.botao:hover{
    cursor: pointer;
}
.links_container {
  display: flex;
padding-left: 20px;
  flex-direction: row; /* Alinha em linha, lado a lado */
  gap: -30px; /* Diminui a separação entre ícones e links */


}

.container_icons {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 65px;
  align-items: flex-start; /* Alinha os ícones no início */
  padding-right: -50px;
}

.icone {
  color: rgb(0, 0, 0);

}

.container_links {
  display: flex;
  flex-direction: column;
  gap: 25px;

}

