.container{
    border: solid , 2px;
    border-color: #3b8ee4;
    border-radius: 10px;
    overflow: hidden;
    height: 800px;

}

.containerUsuario{
        text-align: center;
    }
.fotoUsuario{
        width : 200px;
        height: 200px;
        border : 2px solid var(--dark-strong-blue);
        border-radius: 10px;
        margin-bottom: 20px;

    }

.containerBotoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.botao {
        color: black;
        width: 160px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        font-size: 20px;
    }
.botao:hover{
    cursor: pointer;
}
.links_container {
  display: flex;
  gap: 10px;
}

.container-icons {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;
}

.icone {
  color: rgb(0, 0, 0);

}

.container_links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

