/*------- Configurações dos Cards--------*/
.chart_card {
  background-color: #ffffff;  
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.chart_title {
  font-size: 14px;
  font-weight: 500;
  width: 500px;
  color: #666;
  margin-bottom: 8px;
  text-transform: uppercase;
}
