.header {
  display: flex;

  justify-content: space-between; /* espaço entre input e imagem */
  height: 100vh;                /* altura total da tela */
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.container {
  position: absolute;
  left: 50%;                   /* começa no meio da tela */
  transform: translateX(-50%); /* centraliza horizontalmente o input */
  width: 550px;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 30px;
  padding: 5px 30px 5px 10px; /* espaço pro ícone */
  border-radius: 4px;
  border: 1px solid #ccc;
}

.icon {
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: gray;
}

.containerImagem {
display: flex;
  justify-content: flex-end; /* Joga a imagem pra direita */
  width: 100%;               
  margin-top: -40px;   
  padding-right: -40px;
}
.nuvem {
  height: 280px;
  width: 280px;
  object-fit: contain;
}