
.container {
    padding: 8px;
    width: '250px';
    margin-bottom : '20px' ; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    
}

.title {
    font-size: 2rem;
    color: black;
}
input {
    background-color: #D9D9D9;
    width: 450px;
    height: 25px;
}
.icon {
    position: relative;
    right: 20px;
    top: 2px;

}
