.header {
  background-color:#3b8ee4 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:  197vh;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.container {
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer_wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
  clip-path: ellipse(70% 40% at 50% 100%);
  z-index: 0;
}