*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* fonts  */

body , input,textarea , button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

:root {
    /*color palet*/
    --baby-blue : #3A9EDD ; 
    --white : white ;
    --black : black ;

    /* --------- */

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

